<p>
    With API keys you are able to provide authentication to applications that
    you do not want to login manually (like IFTTT). You can just call the normal
    API method and extend the query parameter "apikey" with the generated API
    key.
</p>
<mat-list>
    <mat-list-item *ngFor="let key of apiKeys; let i = index">
        <div class="w-full items-center grid grid-cols-[5fr,4fr,auto]">
            <div class="truncate">
                {{ key.name }}
            </div>
            <div class="truncate">
                {{ key.createdAt | date: 'short' }}
            </div>
            <button mat-icon-button
                    color="warn"
                    (click)="onDeleteApiKey(i)">
                <masch-icon [icon]="Icons.delete"></masch-icon>
            </button>
        </div>
        <mat-divider *ngIf="i < apiKeys.length - 1"></mat-divider>
    </mat-list-item>
</mat-list>

<div class="flex flex-row justify-end">
    <button mat-button
            color="primary"
            (click)="onGenerateApiKey()">
        Create Key
    </button>
</div>
