<div class="grid grid-cols-[30px,30px,3fr,1fr] @sm:grid-cols-[30px,30px,3fr,1fr,2fr]">
    <div class="text-left">
        {{ entry.start | date: 'EEEEEE' }}
    </div>
    <div class="text-right">
        {{ entry.start | date: 'd' }}
    </div>
    <div class="text-center">
        {{ entry.start | date: 'HH:mm' }} - {{ entry.end | date: 'HH:mm' }}
    </div>
    <div class="text-center">{{ entry.workTime | hours }}</div>
    <div class="hidden @sm:block text-center">
        {{ entry.breaks.length }} break{{
            entry.breaks.length === 1 ? '' : 's'
        }}
        ({{ entry.breakTime | hours }})
    </div>
</div>
