<form (ngSubmit)="onSubmit(f)"
      #f="ngForm">
    <div class="grid grid-cols-1 @sm:grid-cols-2 gap-x-4 mt-2">
        <mat-form-field>
            <mat-label>Work day hours</mat-label>
            <input matInput
                   type="number"
                   ngModel
                   name="workDayHours"
                   required
                   min="0"
                   max="24"
                   step=".25" />
        </mat-form-field>
        <mat-form-field class="col-start-1">
            <mat-label>Default start time</mat-label>
            <input matInput
                   type="time"
                   ngModel
                   name="defaultStart" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>Default end time</mat-label>
            <input matInput
                   type="time"
                   ngModel
                   name="defaultEnd" />
        </mat-form-field>
    </div>

    <mat-checkbox ngModel
                  name="insertDefaultBreak"
                  #insertDefaultBreak>Insert Default Break</mat-checkbox>

    <div class="ml-8 grid grid-cols-1 @sm:grid-cols-2 gap-x-4"
         [hidden]="!insertDefaultBreak.checked">
        <mat-form-field>
            <mat-label>Start</mat-label>
            <input matInput
                   type="time"
                   ngModel
                   name="defaultBreakStart"
                   [required]="insertDefaultBreak.checked" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>End</mat-label>
            <input matInput
                   type="time"
                   ngModel
                   name="defaultBreakEnd"
                   [required]="insertDefaultBreak.checked" />
        </mat-form-field>
    </div>

    <div class="flex flex-row items-center">
        <div class="flex-grow">
            <mat-error *ngIf="formInvalid">Please fill in all fields correctly.</mat-error>
            <mat-error *ngIf="saveFailed">Saving changes failed.</mat-error>
        </div>
        <button type="submit"
                mat-button
                color="primary">
            Save changes
        </button>
    </div>
</form>
