:host {
    padding-bottom: env(safe-area-inset-bottom);
}

.month-header {
    font-weight: 300;
    font-size: medium;
}

.mw-700px {
    max-width: 700px;
}

.add-button {
    position: fixed;
    right: 32px;
    bottom: 32px;
}
