<form (ngSubmit)="onSubmit(f)"
      #f="ngForm">
    <div class="grid grid-cols-1 @sm:grid-cols-2 gap-x-4 mt-2">
        <mat-form-field>
            <mat-label>Given name</mat-label>
            <input matInput
                   type="text"
                   ngModel
                   name="givenName"
                   required />
        </mat-form-field>
        <mat-form-field>
            <mat-label>Surname</mat-label>
            <input matInput
                   type="text"
                   ngModel
                   name="surname"
                   required />
        </mat-form-field>
        <mat-form-field class="@sm:col-span-2">
            <mat-label>E-Mail</mat-label>
            <input matInput
                   type="email"
                   ngModel
                   name="email"
                   required
                   email />
        </mat-form-field>
    </div>

    <div class="flex flex-row items-center">
        <div class="flex-grow">
            <mat-error *ngIf="formInvalid">Please fill in all fields correctly.</mat-error>
            <mat-error *ngIf="saveFailed">Saving changes failed.</mat-error>
        </div>
        <button type="submit"
                mat-button
                color="primary">
            Save changes
        </button>
    </div>
</form>
