<form (ngSubmit)="onSubmit(f)"
      #f="ngForm">
    <div class="grid grid-cols-1 @sm:grid-cols-2 gap-x-4 mt-2">
        <mat-form-field>
            <mat-label>Old Password</mat-label>
            <input matInput
                   type="password"
                   ngModel
                   name="oldPassword" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>New Password</mat-label>
            <input matInput
                   type="password"
                   ngModel
                   name="newPassword"
                   #newPassword="ngModel"
                   required />
        </mat-form-field>
        <mat-form-field class="@sm:col-start-2">
            <mat-label>Repeat New Password</mat-label>
            <input matInput
                   type="password"
                   ngModel
                   name="newPasswordRepeat"
                   masch-validateEqual="newPassword"
                   required />
        </mat-form-field>
    </div>

    <div class="flex flex-row items-center">
        <div class="flex-grow">
            <mat-error *ngIf="formInvalid">Please fill in all fields correctly.</mat-error>
            <mat-error *ngIf="apiError">{{ apiError }}</mat-error>
        </div>
        <button type="submit"
                mat-button
                color="primary">
            Change Password
        </button>
    </div>
</form>
