<form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="container">
        <div class="row">
            <mat-form-field class="col-12 col-sm-6">
                <input
                    matInput
                    type="password"
                    placeholder="Old Password"
                    ngModel
                    name="oldPassword"
                />
            </mat-form-field>
            <mat-form-field class="col-12 col-sm-6">
                <input
                    matInput
                    type="password"
                    placeholder="New Password"
                    ngModel
                    name="newPassword"
                    #newPassword="ngModel"
                    required
                />
            </mat-form-field>
        </div>

        <div class="row justify-content-end">
            <mat-form-field class="col-12 col-sm-6">
                <input
                    matInput
                    type="password"
                    placeholder="Repeat New Password"
                    ngModel
                    name="newPasswordRepeat"
                    masch-validateEqual="newPassword"
                    required
                />
            </mat-form-field>
        </div>

        <div class="row justify-content-end align-items-center">
            <div class="col-auto">
                <mat-error *ngIf="formInvalid"
                    >Please fill in all fields correctly.</mat-error
                >
                <mat-error *ngIf="apiError">{{ apiError }}</mat-error>
            </div>
            <div class="col-auto">
                <button type="submit" mat-raised-button color="primary">
                    Change Password
                </button>
            </div>
        </div>
    </div>
</form>
